.nav-item:hover {
    background-color: rgba(0,0,0,.15);
    transition: 1.0s;
    border-radius: 5px;
}
@media screen and (max-width :576px) {
    .nav-item {
        padding-left: 5px;
    }
}

main {
    padding-top: 70px;
}